

body, html {
    height: 60%;
    margin: 0;
  }
.images {
    background-image: url("book2.jpg");
    background-repeat: no-repeat;
    background-image: fixed;
    background-size: 100%;
   
    width:100%;
    height:100%;
    


}
.book{
    color:greenyellow;
    text-align: center;
}
.contest{
    text-align:center;
    
}